// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/

// Kills bootstrap

//*
//  box-sizing: border-box



.form-inline .form-control
	width 100%

#new-game .well
	text-align center

#teams
	text-align center

.team-one
	background-color rgba(255, 104, 21, 0.9)

	&.turn
		background-color rgba(255, 104, 21, 1.0)

.team-two
	background-color rgba(0, 178, 173, 0.9)

	&.turn
		background-color #0F6

#question
	text-align center

#answers
	.answered
		background-color #F00

#strikes
	text-align center
	.glyphicon
		color #BBB
		font-size 10em
		&.on
			color #F00