@import 'nib'

team1-color = #8B716C
team2-color = #75A7B8
team1-color-highlight = #F12B03
team2-color-highlight = #04D

#spectate
	font-family 'commodore'
	color rgba(255,255,255,0.9)
	#question
		position absolute
		width 100%
		font-size 2em
		top 1%
		text-align center

		h1
			padding 20px 50px 0
			margin 0
			line-height 0.8em

	#answers
		
		position absolute
		width 60%
		left 20%
		top 4.5em
		font-size 3em
		tr
			
			td
				// visibility hidden
				padding 0
				border-top none

			// &.answered td
			// 	visibility inherit

		.table-striped > tbody > tr:nth-child(odd) > td
			background-color rgba(255,255,255,0.5)

		.numberOfPeople
			width 2em
			text-align right

	#strikes
		position absolute
		width 100%
		bottom 2%
		-webkit-text-stroke 3px black

		.strike
			font-size 12em
			line-height 1em
			&.on
				color #F00

	#question, #answers, #strikes
		display none

	&.phase-face-off, &.phase-team, &.phase-team-steal-attempt, &.phase-team-steal-success, &.phase-team-steal-fail, &.phase-round-won
		#question, #answers, #strikes
			display block


	// &.phase-face-off
	#title
		width 100%
		text-align center
		font-size 5em
		font-weight bold

	.background
		z-index -1
		position absolute
		top 0
		height 100%
		width 100%
		overflow hidden
	#teams
		.points
			font-size 5em
			line-height 0
		height 100%
		.row
			height 100%			
		.team-one
			.bg
				transition background-color 3s, transform 3s
				position absolute
				background-color team1-color
				z-index 100
				width 200%
				height 200%
				bottom 0
				left -50%
				-webkit-transform rotate(-90deg)
				-webkit-transform-origin 50% 100%
			.info
				z-index 1001
				position absolute
				bottom 2em
				left 2em

			&.turn
				.bg
					background-color team1-color-highlight


		.team-two
			.bg
				transition background-color 3s, transform 3s
				position absolute
				background-color team2-color
				width 100%
				height 100%
				bottom 0
				right 0
			.info
				text-align right
				z-index 1001
				position absolute
				bottom 2em
				right 2em

			&.turn
				.bg
					background-color team2-color-highlight

	&.phase-splash, &.phase-end
		#teams
			.team-one
					.bg
						background-color team1-color-highlight
						
			.team-two
					.bg
						background-color team2-color-highlight
						
	&.phase-new-round, &.phase-face-off
		#teams
			.team-one
				&.turn
					.bg
						transform rotate(-50deg)
				&.noTurn
					.bg
						transform rotate(-130deg)

	&.phase-team, &.phase-round-won, &.phase-team-steal-success
		#teams
			.team-one
				&.turn
					.bg
						transform rotate(-20deg)

				&.noTurn
					.bg
						transform rotate(-160deg)


	// &.phase-team-steal
	// 	#teams
	// 		.team-one
	// 			&.turn
	// 				.bg
	// 					-webkit-transform rotate(-20deg)
	// 					animation-duration 3s
	// 					animation-name stoleTurn

	// 			&.noTurn
	// 				.bg
	// 					-webkit-transform rotate(-160deg)
	// 					animation-duration 3s
	// 					animation-name turnStolen

	&.phase-end
		#teams
			.info
				bottom 35%
			.points
				font-size 10em
				
			.name
				font-size 4em

		#team-one
			.info
				text-align right
				right 55%
		#team-two
			.info
				text-align left
				left 55%

	// 	display none

	// .team-two
	// 	display none
