.container-fluid
	.row
		.col-md-10.col-md-offset-1
			a.btn.btn-block.btn-primary(href='/admin/new-game') Create New Game
	hr
	if !locals.game
		h5 No running game
	else
		#teams
			.row
				#team-one.col-md-5.team-one
				.col-md-2
					h1 vs
				#team-two.col-md-5.team-two
		.row
			#team-one-members.col-md-2.team-one
			.col-md-8
				a#new-round.btn.btn-block.btn-danger(href='#') Start New Round
				#question
					h1
				#answers
				
				#strikes
					span.strike.glyphicon.glyphicon-remove
					span.strike.glyphicon.glyphicon-remove
					span.strike.glyphicon.glyphicon-remove
			#team-two-members.col-md-2.team-two