audio#sound-intro(preload='auto')
	source(type="audio/ogg", src="/sounds/intro.ogg", loop=true)
audio#sound-round(preload='auto')
	source(type="audio/ogg", src="/sounds/runde.ogg", loop=true)
audio#sound-reveal(preload='auto')
	source(type="audio/ogg", src="/sounds/reveal.ogg", loop=true)
audio#sound-wrong(preload='auto')
	source(type="audio/ogg", src="/sounds/wrong.ogg", loop=true)


.container-fluid.admin
	.row
		#command-line.col-md-10.col-md-offset-1
			input.form-control.typeahead(type='text', placeholder='command line')
	.row
		.col-md-5.col-md-offset-1
			a#play-intro.btn.btn-block.btn-success(href='#') Play Intro
		.col-md-5
			a#play-fail.btn.btn-block.btn-danger(href='#') Play Fail
	.row
		.col-md-10.col-md-offset-1
			button#new-game.btn.btn-block.btn-primary Create New Game (kills the old one)
	hr
	if !locals.game
		h5 No running game
	else
		#teams
			.row
				#team-one.col-md-5.team-one
				.col-md-2
					h1 vs
					h2#phase
				#team-two.col-md-5.team-two
		.row
			#team-one-members.col-md-2.team-one
			.col-md-8
				.col-md-6
					a#new-round.btn.btn-block.btn-danger(href='#') Start New Round
				.col-md-6
					a#face-off.btn.btn-block.btn-danger(href='#') Start Face Off
				#question
					h1
				#answers
				
				#strikes
					span.strike.glyphicon.glyphicon-remove
					span.strike.glyphicon.glyphicon-remove
					span.strike.glyphicon.glyphicon-remove
			#team-two-members.col-md-2.team-two